/* AdminDashBoard.css */

.admin-dashboard {
	width: 100%;
  }
  
  .container {
	display: flex;
  }
  
  .sidebar-nav {
	width: 200px;
	background-color: #f0f0f0;
	padding: 20px;
	height: 100vh;
  }
  
  .sidebar-item {
	margin-bottom: 15px;
	cursor: pointer;
  }
  
  .sidebar-item:hover {
	text-decoration: underline;
  }
  
  .sidebar-content {
	flex-grow: 1;
	padding: 20px;
	background-color: #fff;
	height: 100vh;
  }
  